<% content_for :page, "Contact us" %>
<h1>Contact us </h1>
<p><strong>Aliquam pellentesque</strong> aliquam scelerisque. Nulla sagittis sagittis semper. Duis aliquam condimentum purus sed vestibulum. Duis aliquam tempus odio hendrerit congue. In suscipit erat ut tincidunt mollis. Etiam sit amet felis purus. Nam feugiat, urna eget pretium rutrum, sem elit aliquet nulla, id eleifend tellus tellus in enim. Aliquam condimentum condimentum diam quis hendrerit. Mauris egestas dapibus libero sed blandit. Nulla facilisi. Etiam lacus lorem, vestibulum luctus porta in, feugiat sed ipsum. Duis laoreet interdum odio eget varius.
</p>