<li>    
  <%= gravatar_for(user, size: 50) %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to("\u{1F5D1}", user, method: :delete,
      data:{confirm: "Are you sure you want to delete user #{user.name}?"},
        class: "btn btn-danger") %>
  <% end %>
  &nbsp;
  <%= link_to(user.name, user) %>
</li>