<footer class="footer">
  <small>
    <strong>Chirper!</strong> A modest <em>Twitter</em> clone written in Ruby on Rails. Copyright &copy; 2020 by Lucas Ethan Calo. All Rights Reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_us_path %></li>
      <li><a href="https://rubyonrails.org/">Rails Homepage</a></li>
    </ul>
  </nav>  
</footer>